<html lang="en">
  <%- include("./partials/head.ejs") %>

  <body>
    <h1><%= community_id %></h1>
    <div id="message-container"></div>
    <form id="form">
      <div class="message">
        <label for="message-input">Message</label>
        <input type="text" id="message-input" />
        <button type="submit" id="send-button">Send</button>
      </div>
    </form>
    <script src="http://localhost:4444/socket.io/socket.io.js"></script>
    <!-- <script src="/chat-app/frontend.js"></script> -->
    <script>
      let communityID = <%= community_id %> 
      
      console.log(communityID)
      const messageInput = document.querySelector("#message-input");
      const roomInput = document.querySelector("#room-input");
      const form = document.querySelector("#form");

      const socket = io("http://localhost:4444");
      const username = "test-user";
     
      socket.on("connect", () => {
        socket.emit("joinRoom", { username,communityID});
      });
      socket.on("message", (t) => {
        displayMessage(t);
      });

      form.addEventListener("submit", (e) => {
        e.preventDefault();
        const message = messageInput.value;
        const room = communityID;

        if (message === "") return;
        // displayMessage(message);
        socket.emit("message", message, room);

        messageInput.value = "";
      });
      
      function displayMessage(message) {
        
        const div = document.createElement("div");
        // message.time = `${message.username} @ ${message.time}: ${message.tex}`
        div.textContent = `${message.username} ${message.time}: ${message.text}`;
        document.querySelector("#message-container").append(div);
      }
    </script>
  </body>
</html>
